html {
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  position: relative;
}

@font-face {
  font-family: VCR;
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}

h1 {
  position: relative;
}

h1 span {
  font-family: VCR;
  font-size: 72px;
  color: white;
  z-index: 10;
  letter-spacing: -2px;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)), white;
  background-size: 100% 2px, 3px 100%;
  background-clip: text;
	-webkit-background-clip: text;
  box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
  color: transparent;
  animation: flicker 1s infinite;
}

h1:after {
  content: attr(data-text);
  animation: textShadow 1.6s infinite;
  position: absolute;
  top: 0;
  left: 0;
  font-family: VCR;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: -2px;
}

/*.text:after {
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 2px 2px 0px #2E00F8;
  top: 0;
  z-index: 5;
  text-transform: uppercase;
  color: transparent;
}*/

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

@keyframes flicker {
  0% {
  opacity: 0.87861;
  }
  5% {
  opacity: 0.84769;
  }
  10% {
  opacity: 0.83604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.88128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.85583;
  }
  35% {
  opacity: 0.97807;
  }
  40% {
  opacity: 0.96559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.88594;
  }
  60% {
  opacity: 0.80313;
  }
  65% {
  opacity: 0.91988;
  }
  70% {
  opacity: 0.93455;
  }
  75% {
  opacity: 0.87288;
  }
  80% {
  opacity: 0.81428;
  }
  85% {
  opacity: 0.90419;
  }
  90% {
  opacity: 0.8003;
  }
  95% {
  opacity: 0.86108;
  }
  100% {
  opacity: 0.94387;
  }
}
